<!DOCTYPE html>
<html lang="en">
<head>
    <title>Raider IO addon tuner</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="icon" type="image/png" href="../static/images/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="../static/images/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="../static/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../static/images/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="../static/images/favicon-128.png" sizes="128x128" />
</head>

<body>

<div class="container ">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right lazy">
                <li role="presentation" class="active" ><a href="">Home</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Raider IO addon tuner</h3>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <a href="https://wow.curseforge.com/projects/raiderio?gameCategorySlug=addons&projectID=279257" >Visit original Raider.IO downloads website</a>
        </div>
        <div class="col-lg-6">
            <a href="https://raider.io">Visit Raider.IO website</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 24rem; height: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">Get latest tuned Raider.IO client</h5>
                    <p class="card-text">{{model.latest_tuned_version_date}}</p>
                    <a href="/raider_io_tuned" class="btn btn-primary">Download</a>
                </div>
            </div>
            <div class="card" style="width: 24rem; height: 15rem;">
               <div class="card-body">
                 <h5 class="card-title">Get latest raw Raider.IO client</h5>
                    <p class="card-text">{{model.latest_raw_version_date}}</p>
                 <button onclick="location.href='/raider_io_raw'" class="btn btn-primary">Download</button >
               </div>
            </div>
            <div class="card" style="width: 24rem; height: 15rem;">
               <div class="card-body">
                 <h5 class="card-title">Allowed downloads count</h5>
                    <p class="card-text">{{model.allowed_downloads}}</p>
               </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p> &copy; Mantygrock 2019</p>
    </footer>

</div>
</body>

</html>